.clampExtend {
  position: relative;
  background: #45403B;

  & .oBox {
    position: absolute;
    top: 0;
    left: vwc2(-15);
    width: vwc2(30);
    height: vwc2(30);
    background: #FF6900;
  }

  & .oTxt {
    width: vwc2(1440);
    margin: auto;
    background: black;
    color: white;
    font-size: vwc2(100);
  }

  @media screen and (min-width: 1440px) {
    & .oBox {
      left: vwe2(-15);
    }
  }

  @media screen and (max-width: 767px) {
    & .oBox {
      left: vwe1(-15);
      width: vwc1(30);
      height: vwc1(30);
    }

    & .oTxt {
      width: vwc1(375);
      font-size: vwc1(50);
    }
  }

  @media screen and (max-width: 374px) {
    & .oBox {
      left: vwc1(-15);
    }
  }
}

.clamp {
  position: relative;
  background: #45403B;

  & .oBox {
    position: absolute;
    top: 0;
    left: vwc2(-15);
    width: vwc2(30);
    height: vwc2(30);
    background: #FF6900;
  }

  & .oTxt {
    width: vwc2(1440);
    margin: auto;
    background: black;
    color: white;
    font-size: vwc2(100);
  }

  @media screen and (max-width: 767px) {
    & .oBox {
      left: vwc1(-15);
      width: vwc1(30);
      height: vwc1(30);
    }

    & .oTxt {
      width: vwc1(375);
      font-size: vwc1(50);
    }
  }
}

.scale {
  position: relative;

  & .oBox {
    position: absolute;
    top: 0;
    left: vw2(-15);
    width: vw2(30);
    height: vw2(30);
    background: #FF6900;
  }

  & .oTxt {
    width: vw2(1440);
    margin: auto;
    background: black;
    color: white;
    font-size: vw2(100);
  }

  @media screen and (max-width: 767px) {
    & .oBox {
      left: vw1(-15);
      width: vw1(30);
      height: vw1(30);
    }

    & .oTxt {
      width: vw1(375);
      font-size: vw1(50);
    }
  }
}
